@keyframes shadow-flicker {
  0%, 40% {
    text-shadow: 0px 0px 29px rgba(200,200,200,.0);
  }
  55% {
    text-shadow: 0px 0px 29px rgba(200,200,200,.75);
  }
  100% {
    text-shadow: 0px 0px 0px rgba(200,200,200,.0);
  }
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(200,200,200,.75);
  }

  3% {
    opacity:0;
    text-shadow: 0px 0px 29px rgba(200,200,200,.75);
  }
  5% {
    opacity:.3;
    text-shadow: 0px 0px 29px rgba(200,200,200,.75);
  }
  7% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(200,200,200,.75);
  }
  12% {
    opacity:0.2;
    text-shadow: 0px 0px 29px rgba(200,200,200,.75);
  }
  15% {
    opacity:.3;
    text-shadow: 0px 0px 29px rgba(200,200,200,.75);
  }

  // 45% {
  //   opacity:0.1;
  //   text-shadow: 0px 0px 29px rgba(200,200,200,.75);
  // }

  80% {
    opacity:0;
    text-shadow:0px 0px 29px rgba(200,200,200,.75);
  }

  85% {
    opacity:0;
    text-shadow:0px 0px 29px rgba(200,200,200,.75);
  }

  90% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(200,200,200,.75);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 0px rgba(200,200,200,.0);
  }
}

@keyframes fadeOutOverlay {
  to {
    opacity: 0;
  }
}

@keyframes fadeInSubheading {
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes moveDownHeadingWrapper {
  to {
    transform: translateY(-2em)
  }
}
