/* === Enter and leave animations can use different === */
/* === durations and timing functions ================= */

// Fade out

.fade-out-enter-active,
.fade-out-leave-active {
  transition: all $speed ease;
}

.fade-out-enter,
.fade-out-leave-to {
  opacity: 0;
}

// In and out

.slide-in-out-enter-active,
.slide-in-out-leave-active {
  transition: all $speed ease;
  > * {
    transition: all $speed ease;
  }
}

.slide-in-out-enter,
.slide-in-out-leave-to {
  transform: translateY(100%);
  @include min-width($medium-screen) {
    transform: translateX(-100%);
  }
  > * {
    opacity: 0;
  }
}

// In only, hold on out

.slide-in-enter-active,
.slide-in-leave-active {
  transition: all $speed ease;
  > * {
    transition: all $speed ease;
  }
}

.slide-in-enter {
  transform: translateY(100%);
  @include min-width($medium-screen) {
    transform: translateX(-100%);
  }
  > * {
    opacity: 0;
  }
}

.slide-in-leave-to {
  transform: translateY(0%);
  @include min-width($medium-screen) {
    transform: translateX(0%);
  }
  > * {
    opacity: 0;
  }
}
