/************
***  Colours
************/
$light-green: #C6F0EB;
$green: #75DACF;

$blue: #45506B;
// $dark-gray: #616B80;
// $light-gray: #eAeCf1;
// $medium-gray: #A2A8B4;
$dark-gray: mix(white, $blue, 20);
$medium-gray: mix(white, $blue, 40);
$light-gray: mix(white, $blue, 75);



/************
***  Typography
************/
$base-font-color: $dark-gray;
$heading-font-color: $blue;
$base-font-size: 1em;
$modular-scale-ratio: 1.2;
$base-line-height: 1.6;
$heading-line-height: 1.3;

/************
***  Misc. units
************/
$speed: 1s;
$sidebar-width: 30vw;
$sidebar-min-width: 15rem;

/************
***  Functions and mixins
************/

@function modular-scale(
  $increment,
  $value: $base-font-size,
  $ratio: $modular-scale-ratio
) {
  @if $increment > 1 {
    @for $i from 1 through $increment {
      $value: $value * $ratio;
    }
  }
  @if $increment < 0 {
    @for $i from $increment through -1 {
      $value: $value / $ratio;
    }
  }
  @return $value;
}
